<div class="padding-top">
    <div class="container-fluid">
        <div class="row search">
            <div class="col-xs-12 col-md-6 col-md-offset-3 col-xs-offset-0">
                <div class="input-group">
                    <span class="input-group-addon logo" id="basic-addon1">TMDB</span>
                    <input required #name="ngModel" #input matInput [matAutocomplete]="auto" aria-describedby="sizing-addon1" [(ngModel)]="strSearch" (keyup.enter)="onEnterText(auto)" (keyup)="onTypeText()" type="text" class="form-control" placeholder="Search....." >
                </div>
                <div *ngIf=showErr; class="alert alert-warning">
                    <span class="allert"><strong>Warning!</strong> field is empty</span>
                </div>
                <mat-autocomplete #auto="matAutocomplete" >
                    <mat-option *ngFor="let title of titlesToSearch" (click)="clickOnList(title)">
                        <img aria-hidden src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/{{title.poster_path}}" height="40"/>
                        <span>{{ title.title }}</span> |
                        <small>Popularity: {{title.popularity}}</small>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        
        <div *ngFor="let title of titleSearched" class="row padding-top">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="row container-box">
                        <div class="col-md-3 col-xs-4">
                            <img src="https://image.tmdb.org/t/p/w640/{{title.poster_path}}" class="img-responsive" alt="Responsive image">
                        </div>
                        <div class="col-md-9 col-xs-8">
                            <h2 class="title">{{title.title}}</h2>
                            <div class="text-detail">
                                <span>{{title.overview}}</span>
                            </div>
                            <span class="text-detail text-info"><strong>Popularity: </strong> <span>{{title.popularity}}</span></span>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
