.padding-top{
    padding-top: 20px;
}

.search {
    padding-bottom: 100px;
}

.allert {
    font-family: 'GT Walsheim', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-top: 40px;
}

.text-detail {
    font-weight:bold;
    font-family:"Roboto Mono",serif;
    font-size:20px;
    margin: 10px 0 10px 0px;
    max-height: 30vh;
    overflow:auto;
}

.text-info {
    color: white;
}

.title {
    font-weight: 800;
    margin: 0px;
}

.logo {
    font-family: 'GT Walsheim', sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-weight: 800;
} 

.container-box {
    background-color:#4DB6AC; 
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.img-responsive:hover {
    opacity: 0.7;
  }
  

