.center-div {
    text-align: center;
}

h1 {
    font-family: 'GT Walsheim', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}